/* Navigation Bar */
/*.navbar{
  padding: 20px 10px 20px 0px;
  background-color: #28a7e9;
  transition: all ease 0.4s;
}
.navbar-brand{
  font-size: 22px;
  color: white !important;
}
.navbar .navbar-nav li a{
  font-size: 16px;
  color: white;
}
*/

#body {
	
	margin:0px;
	background-color: linear-gradient(90deg, rgba(161,223,10,1) 0%, rgba(6,125,100,0.5497549361541492) 100%, rgba(19,172,8,1) 100%);
}

/* change the background color */
.navbar-custom {
    /* background-color: white; */
	background: rgb(161,223,10);
	background: linear-gradient(90deg, rgba(161,223,10,1) 0%, rgba(6,125,100,0.5497549361541492) 100%, rgba(19,172,8,1) 100%);
	
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.jumbotron {

  text-align: center;
  


  background-position: center center;

}


.jumbotron_special{
  background-image: url("jumbotron_bg.jpg");
  background-size: cover;
  /* width: 100%; */
  min-height: 600px;
	
}
.jumbotron h1{
    color: white;
	font-family: "Brush Script MT", cursive;
	text-align: left;
	
}

.jumbotron p{
    color: white;
	font-family: "Brush Script MT", cursive;
	text-align: left;
	text-padding-left: -20px;
	
}




