<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Un réseau pour l'alimentation durable à Bruxelles et en Belgique. </title>
    <meta name="description" content="S'alimenter intelligement, t'y penses aussi ? Bienvenue sur le site d'un citoyen bruxellois qui, comme toi, voudrait contribuer à un monde où notre alimentation serait produite, véhiculée et consommée d'une manière plus éco-responsable. ">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css" integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="icon" type="image/png" href="/static/favicon_small.png" sizes="16x16">


    <link href="//db.onlinewebfonts.com/c/d09c32f6114a7e885d322df6774281f8?family=BreeW01-Semibold" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/927699cb752d1b76650593a4ad6710b8?family=Basic+Sans+Regular" rel="stylesheet" type="text/css"/>

  </head>



  <body style="font-size:0 !important;">

    <button onclick="topFunction()" id="myBtnToTop" title="Go to top" style="width:40px; height:40px;"></button>

    <div id="fullpage">


      <!-- Navigation bar -->

          <div  style="font-size:16px;">
            <div class="container">
              <div class="row">

                <nav class="col navbar fixed-top  navbar-expand-md   navbar-custom">

                  <!-- Toggler/collapsibe Button -->
                  <button class="navbar-toggler ml-auto custom-toggler"  type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span id="icon-toggle" class="navbar-toggler-icon"></span>
                  </button>

                  <!-- Navbar links -->
                  <div class="collapse navbar-collapse " id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item ml-auto active menu-size" >
                        <a class="nav-link "  data-menuanchor="Accueil" href="#Accueil">Accueil</a>
                      </li>
                      <li class="nav-item ml-auto menu-size">
                        <a class="nav-link"  data-menuanchor="Intro" href="#Intro">&Agrave propos</a>
                      </li>
                      <li class="nav-item ml-auto menu-size">
                        <a class="nav-link"  data-menuanchor="MonParcours" href="#MonParcours">Qui suis-je ?</a>
                      </li>
                      <li class="nav-item ml-auto menu-size">
                        <a class="nav-link"  data-menuanchor="LeProjet" href="#LeProjet">Projet</a>
                      </li>
                      <li class="nav-item ml-auto menu-size">
                        <a class="nav-link"  data-menuanchor="Contact" href="#Contact">Contact</a>
                      </li>
                      <li class="nav-item ml-auto menu-size">
                        <a class="nav-link"  data-menuanchor="Partenaires" href="#Partenaires">Partenaires</a>
                      </li>
                    </ul>
                  </div>

                </nav>


              </div>
            </div>
          </div>

          <!-- end Navigation bar -->












      <!-- 1. Presentation Page  -->


      <div class="section s1 fp-auto-height-responsive fp-auto-responsive" id="section1" style="min-height:815px !important">





      <!-- Intro text -->


        <div class="container-fluid">

        <!-- title -->
        <div class="row gx-4 gx-lg-5 justify-content-center justify-content-xl-start" >

              <!-- Display on one line for xl screens, and break it for smaller screens. -->
              <div class="col-12 col-xl-11 mt-5 pt-5 pt-lg-0 pl-xl-5">
                <h1> S'ALIMENTER INTELLIGEMMENT... <br class="d-xl-none"/> T'Y PENSES AUSSI ? </h1>
              </div>

        </div>


        <!-- texte -->
        <div class="row row gx-4 gx-lg-5 justify-content-center justify-content-xl-start">
          <div class="col-11 col-md-9 col-xl-8"  style="max-width:900px;">

		               <p class="pl-xl-5" style="max-width:800px;" > Bienvenue sur le site d'un citoyen bruxellois qui, comme toi, voudrait contribuer à un monde où notre alimentation serait produite, véhiculée et consommée d'une manière plus éco-responsable. </p>
		               <p class="pl-xl-5" style="font-weight:bold;"> J'ai besoin de ton aide pour réaliser ce projet ! Vas-y, clique !</p>
		               <br>
		               <!-- Button -->
		               <div class="alignbutton mb-5 pl-xl-5">
			                  <a href="https://www.surveylegend.com/s/3rrg" target="_blank" id="boutonLancement">Démarrer le questionnaire !</a>
                   </div>
	        </div>
        </div>



      </div>  <!-- End Intro text -->



      </div>  <!-- End 1. Presentation page -->







<!-- 2. Etat des lieux -->


<div class="section s2 fp-auto-height-responsive pb-5" style="min-height:815px !important">


  <!-- title slide 2 -->
	<div class="container-xl mb-0 mb-xl-4" style="padding-right:30px; padding-left:30px;">
	   <div class="row gx-4 gx-lg-5 justify-content-start">
		     <div class="col">
					      <h2 class="pb-4 mt-xl-5 text-center text-md-left typoTitre commontitle slidetitle" > <span>IL &EacuteTAIT UNE FOIS... <br class="d-md-none"/> LA TRANSITION ALIMENTAIRE </span>  </h2>
				 </div>
		 </div>
  </div>


  <!-- body slide 2 -->
  <div class="container-xl mb-5 ">

      <!--  2 containers-xl -->

	    <div class="container-xl mb-3 mb-xl-3">
		      <div class="row">

          <!-- 3 elements: 1 content card, 1 image, 1 content-card -->


          <!--  1st content card -->
			    <div class="col-12 mb-3 mb-xl-0 col-xl-4  d-flex ">


				        <div class="card h-100 cardsize">
                  <div class="row no-gutters h-100 cardsize">
                    <!-- IMAGE  when horizontal and vertical for small screens -->
                    <div class="col-md-3  d-xl-none d-flex card-header pt-0 pb-0 justify-content-center earthsize" style=" overflow:hidden;">
                      <img src="/static/images_site/alimentation_respectueuse_de_la_terre.webp" class="card-img earthsize" style="width:100%; height:100%; object-fit:contain;">

                    </div>

                    <!-- TEXTE -->
                    <div class="col-md-9  col-xl-12">
					                 <div class="card-body">
						                       <h5 class="typoTitre colorV subtitleSize"> Un constat ! </h5>
						                       <p class="typoTexte textSize textJustify "> Ceci sonne aujourd’hui comme une évidence pour un nombre croissant d’acteurs du secteur alimentaire et de consommateurs : le mode de consommation actuel hyper-industrialisé et peu soucieux de l’environnement touche à ses limites. <span style="font-weight:bold;"> Des alternatives à petite et/ou à plus grande échelle doivent être réfléchies et développées.</span></p>
					                 </div>
                    </div>
                    <!-- end -->
                   </div>
				         </div>

			    </div> <!-- end card 1 -->


          <!--  earth image - only for xl screens-->

          <div class="d-none d-xl-block col-xl-4" style="margin-top:15px;">
			         <div class="d-flex my-auto ">
			 	             <img class="constat"  src="/static/images_site/alimentation_respectueuse_de_la_terre.webp">
			         </div>
          </div>

          <!-- second content card -->

		      <div class="col-12 col-xl-4  d-flex ">
            <div class="card h-100 cardsize">
              <div class="row no-gutters h-100 cardsize">
                <!-- IMAGE  when horizontal and vertical for small screens -->
                <div class="col-md-3  d-xl-none d-flex card-header pt-0 pb-0 justify-content-center earthsize" style="overflow:hidden;">
                    <img src="/static/images_site/initiatives_alimentation_durable.webp" class="card-img" style="object-fit:cover;">
                </div>

                <!-- TEXTE -->
                <div class="col-md-9 col-xl-12">
                  <div class="card-body">
						            <h5 class="typoTitre colorV subtitleSize"> Des solutions ? </h5>
						            <p class="typoTexte textSize textJustify"> Supermarchés coopératifs, potagers partagés et maraîchages respectueux de la terre, organisations-relais entre producteurs et consommateurs, initiatives de recyclage, stages zéro-déchet, cours de cuisines spécifiques, labels bios, ... <span style="font-weight:bold;"> des initiatives en tout genre fleurissent un peu partout. </span></p>
					        </div>
                </div>
              </div>
				     </div>
			    </div>


		   </div><!-- end row -->
	    </div><!-- end first xl container -->






     <!-- second xl-container -->

     <div class="container-xl ">
		     <div class="row">

          <!--  tsunami image - only for xl screens-->
           <div class="d-none d-xl-block col-xl-3" style="margin-top:30px;">
             <div class="d-flex my-auto">
               <img class="constat"  src="/static/images_site/consommateur_desabuse.webp">
             </div>
           </div>

          <!-- third content card -->
			    <div class="col-12 col-xl-6  d-flex">
				    <div class="card h-100 cardsize">
              <div class="row no-gutters h-100 cardsize">
                <!-- IMAGE  when horizontal and vertical for small screens -->
                <div class="col-md-3  d-xl-none d-flex card-header pt-0 pb-0 justify-content-center earthsize" style="overflow:hidden;">
                  <img src="/static/images_site/consommateur_desabuse.webp" class="card-img" style="object-fit:cover;">
                </div>

                <!-- TEXTE -->
                <div class="col-md-9 col-xl-12">
					         <div class="card-body" id="textAlignEtLeConso">
						               <h5 class="typoTitre colorV subtitleSize">Et le consommateur... </h5>
						               <p class="typoTexte textSize textJustify"> Emporté dans un tsunami d’informations, il est parfois difficile de savoir "par quel bout prendre" la démarche de transition alimentaire. <span style="font-weight:bold;"> L’énergie et le temps nécessaires requis pour explorer les alternatives existantes découragent </span> et figent encore un peu plus la stratégie monétaire en place. </p>
					          </div>
                </div>
				       </div>
			      </div>
          </div> <!-- end third  content card -->


        <!--  farm image - only for xl screens-->
        <div class="d-none d-xl-block col-xl-3" style="margin-top:30px;">
          <div class="d-flex my-auto">
            <img class="constat"  src="/static/images_site/initiatives_alimentation_durable.webp">
          </div>
        </div>


      </div><!-- end row -->
    </div><!-- end second xl container -->

 </div> <!-- end body slide 2 -->

</div> <!-- end slide 2 -->











<!-- 3. Qui Suis-je ? -->

                <div class="section s3 fp-auto-height-responsive" style="min-height:815px !important">

                  <div class="container-xl mb-0 mb-xl-4" style="padding-right:30px; padding-left:30px;">

                			<div class="row gx-4 gx-lg-5 justify-content-start">
                				<div class="col">
                					<h2 class="pb-4 mt-xl-5 text-center text-md-left commontitle typoTitre slidetitle" > <span>ET MOI DANS TOUT &CcedilA ... </span>  </h2>


                				</div>
                			</div>

                	</div>




                  <!-- title -->


                  <div class="container-xl " style="padding-right:30px; padding-left:30px;">
                   <div class="card-deck" >
                    <div class="row">


                      <!-- mon profil -->
                      <div class="col col-lg-4 h-lg-100">
                        <div class="card profile-card-3 h-lg-100" style="box-shadow:none;">
                  		        <div class="background-block">
                  		            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
                  		        </div>
                  		        <div class="profile-thumb-block">
                  		            <img src="/static/images_site/Francois_Dehouck.webp" alt="profile-image" class="profile"/>
                  		        </div>
                  		        <div class="card-content">
                                  <h2 class="pb-3 typoTitre commontitle">François, 38 ans.</h2>
                                  <h3 class="pb-3 h3-custom typoTexte" style="line-height:1.5;">  <span > Papa investi, ingénieur de formation, de nature hyper-curieuse...<br class="d-md-none"/> <strong> Ex-consommateur endormi</strong>. </span> </h3>

                              </div>
                        </div>
                      </div>

                      <!-- déclic et challenge -->

                      <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                              <div class="card" style="border:none; box-shadow:none;">
                                <div class="row" >
                                  <!-- IMAGE  when horizontal and vertical for small screens -->
                                  <div class="d-none d-md-block col-md-4 card-header" style="background-color:white; border-bottom:none;">
                                      <img src="/static/images_site/dynamite.webp" class="card-img" style="width:100%; height:100%;object-fit:contain; max-height:220px;">
                                  </div>

                                  <!-- TEXTE -->
                                  <div class="col-12 col-md-8  " id="dynamitebcg" >
                      					         <div class="card-body" >
                      						               <h5 class="typoTitre colorV subtitleSize posrel-md " style="font-weight:600;"> Le cocktail explosif</h5>
                                                 <p class="textSize textJustify posrel-md typoTexte"> A <strong> un malaise</strong> qui grandissait depuis trop longtemps, tu rajoutes une <strong> crise sanitaire </strong> avec:  </p>
                                                 <ul class="textSize textJustify posrel-md typoTexte" style="padding-left:15px;">
                                                   <li>Des supermarchés "indispensables" avec des files interminables</li>
                                                   <li>Des sources "alternatives" d'approvisionnement à l'arrêt</li>
                                                   <li>Une présentation médiatique partiale</li>
                                                 </ul>

                      						                <p class="textSize textJustify posrel-md typoTexte"> Et tu obtiens <strong> le mélange parfait pour une remise en question !</strong> </p>
                      					         </div>
                                   </div>

                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="card" style="border:none; box-shadow:none;">
                              <div class="row">


                                <!-- quote for below lg screens -->
                                <div class="col-10 offset-1 d-lg-none pt-5 bt-5 " style="text-align-center">
                                  <p style="font-size:1.2rem; font-style:italic bold; color:rgb(255,140,0);text-align:center;"> <q> Sois le changement que tu veux voir dans le monde.  </q> </p>
                                </div>


                                <!-- TEXTE -->
                                <div class="col-12 col-md-8  ">
                                       <div class="card-body" id="ideabcg">
                                               <h5 class="typoTitre colorV subtitleSize posrel-md typoTitre" style="font-weight:600;"> Un premier défi</h5>

                                               <p class="textSize textJustify posrel-md typoTexte">   <strong> Ne plus mettre un pied dans une grande surface en 2021</strong> pour: </p>

                                               <ul class="posrel-md typoTexte" style="padding-left:15px; ">
                                                 <li>Découvrir des alternatives</li>
                                                 <li>Vaincre le "pas de temps/pas d'argent"</li>
                                                 <li>Manger plus responsable</li>
                                                 <li>Re-découvrir les produits fait-maison</li>


                                               </ul>

                                              <p class="textSize textJustify posrel-md typoTexte">   <strong> En 2022, je m'attaque au zéro-déchet ! </strong> </p>

                                       </div>
                                 </div>

                                 <!-- IMAGE  when horizontal and vertical for small screens -->
                                 <div class="d-none d-md-block col-md-4 card-header" style="background-color:white; border-bottom:none;">

                                     <img src="/static/images_site/transition_alimentaire.webp" class="card-img" style=" height:100%; width:100%; object-fit:cover;">

                                 </div>

                              </div>
                            </div>
                            </div>

                        </div>

                      </div>

                    </div>
                  </div>
                  </div>

                <p class="d-none d-lg-block pt-5 mt-4" style="font-size:1.2rem;text-align:center; font-style:italic bold; color:rgb(255,140,0);"> <q> Sois le changement que tu veux voir dans le monde.  </q> </p>


              </div>










                      <!-- Une proposition -->


                            <div class="section s4">



                              <div class="container-xl mb-0 mb-xl-4" style="padding-right:30px; padding-left:30px;">

                            			<div class="row gx-4 gx-lg-5 justify-content-start">
                            				<div class="col">
                            					<h2 class="pb-4 mt-xl-5 text-center text-md-left typoTitre commontitle slidetitle" > <span>ET SI ON LE CR&EacuteAIT CE R&EacuteSEAU ? </span>  </h2>
                            					<!--  <hr class="divider py-1 bg-dark" /> -->
                                      <p class="typoTexte" style="font-size:0.9rem; text-align:justify;"> Même si de nombreuses initiatives existent et que de nombreux sites web les référencent, il est évident qu'il va falloir s'investir pour changer nos habitudes alimentaires.</p>

                                      <p class="typoTexte" style="font-size:0.9rem; text-align:justify;font-style:italic;"> Et si on rendait ça plus sympa et plus facile ?  </p>

                                      <p class="typoTexte" style="font-size:0.9rem; text-align:justify;"> Pour t'accompagner dans cette transition, <strong>je souhaiterais créer un média structuré, un réseau vivant et interactif </strong>, où l’on pourrait rassembler, partager, et défier ces idées et ces solutions existantes d’alternatives plus durables, bio, écologiques, responsables et saines. </p>

                                      <p class="typoTexte" style="font-size:0.9rem; text-align:justify;"> <strong>Un réseau dont tu es le héros:</strong> Grâce à la communauté, tu pourras te construire pas à pas une solution pour "s'alimenter autrement" qui te convienne et qui en inspirera d'autres.  </p>


                            				</div>
                            			</div>

                            	</div>





                      		<div class="container-xl " style="padding-right:30px; padding-left:30px;">
                      		<div class="row">

                              <!-- 1ST CARD -->
                              <div class="col-12 col-xl-4 mb-3 mb-xl-0">


                      				          <div class="card customcardsize">
                                          <div class="row">

                                          <div class="col-12 col-md-3 col-xl-12">
                      					               <div class="card-header pb-0 pt-0 pl-0 pr-0 customimagecardsize"  >
                      						                     <img style="width:100%; height:100%;object-fit:cover;" class="customimagecardsize" src="/static/images_site/consommacteur.webp">
                      					               </div>
                                          </div>
                                          <div class="col-12 col-md-9 col-xl-12">
                      					                               <div class="card-body">
                      						                                     <h5 class="typoTitre colorV subtitleSize " style="font-size:1.2rem; font-weight:bold;">Un consomm-acteur </h5>
                      						                                     <p class="textSize textJustify typoTexte" style="font-size:0.9rem;">Le consomm-acteur partage avec son réseau ses informations sur sa transition alimentaire.  </p>

                      					                               </div>
                      				         </div>

                      			      </div>
                              </div>
                            </div>



                              <!-- 2ND CARD -->


                              <div class="col-12 col-xl-4 mb-3 mb-xl-0">


                                        <div class="card customcardsize">
                                          <div class="row">

                                          <div class="col-12 col-md-3 col-xl-12">
                                               <div class="card-header pb-0 pt-0 pl-0 pr-0 customimagecardsize"  >
                                                       <img style="width:100%; height:100%;object-fit:cover;" class="customimagecardsize" src="/static/images_site/reseau_alimentation_durable.webp" alt="réseau alimentation durable">
                                               </div>
                                          </div>
                                          <div class="col-12 col-md-9 col-xl-12">
                                                               <div class="card-body">
                                                                 <h5 class="typoTitre colorV subtitleSize typoTitre" style="font-size:1.2rem; font-weight:bold;">Un média central </h5>
                                                                <p class="typoTexte textSize textJustify" style="font-size:0.9rem;">L'information partagée entre consomm-acteurs et producteurs est disponible et accessible à tous.  Une possibilité d'interaction permet aux consommateurs et aux acteurs du secteur alimentaire de se lancer des défis.</p>

                                                               </div>
                                       </div>

                                  </div>
                              </div>
                            </div>






                              <!-- 3RD CARD -->

                              <div class="col-12 col-xl-4 mb-3 mb-xl-0">


                                        <div class="card customcardsize">
                                          <div class="row">

                                          <div class="col-12 col-md-3 col-xl-12">
                                               <div class="card-header pb-0 pt-0 pl-0 pr-0 customimagecardsize"  >
                                                       <img style="width:100%; height:100%;object-fit:cover;" class="customimagecardsize" src="/static/images_site/acteur_professionnel.webp">
                                               </div>
                                          </div>
                                          <div class="col-12 col-md-9 col-xl-12">
                                                               <div class="card-body">
                                                                 <h5 class="typoTitre colorV subtitleSize " style="font-size:1.2rem; font-weight:bold;">Un producteur connecté </h5>
                                                                 <p class="typoTexte textSize textJustify " style="font-size:0.9rem;">Le producteur est connecté avec son réseau. Il peut plus facilement recevoir une appréciation de ses consommateurs et/ou adapter sa production en réponse aux demandes du consomm-acteur.   </p>

                                                               </div>
                                       </div>

                                  </div>
                              </div>
                            </div>





                      		</div>
                      </div>






                            </div>











                              <!-- formulaire -->

                                    <div class="section s5">

                                      <div class="container-xl" style="padding-right:30px; padding-left:30px;">

                                          <div class="row gx-4 gx-lg-5 justify-content-start" id="ContactT">
                                            <div class="col">
                                              <h2 class="pb-4 mt-xl-5 text-center text-md-left typoTitre commontitle slidetitle" > <span>VAS-Y, &Agrave TOI DE JOUER !  </span>  </h2>

                                              <p class="mb-5 text-align-left" style="font-size:0.9rem;"> Parce que l’idée est de nature collaborative, j’ai créé ce questionnaire et un formulaire de contact afin de récolter un maximum d’informations sur ta réalité à toi, tes attentes, tes envies, tes possibles (ébauches de) projets en cours, tes remarques, tes propositions… afin de proposer une solution qui rassemblerait le plus grand nombre de gens.</p>

                                            </div>
                                          </div>

                                      </div>




                              <!-- Formulaire de Contact -->

                              <div class="container-xl" style="padding-right:30px; padding-left:30px;">

                                <div class="row">


                                 <!--  left part -->
                                  <div class="col-md-5 pb-5 mb-5" style="text-align:center;">

                                           <h2 class="pb-4 mt-xl-3 typoTitre commontitle" style="font-size:1.2rem; font-weight:600; color:rgb(95,129,82);">Envie de contribuer ?  </h2>

                                           <p class="mb-4" style="font-size:0.9rem;"> Fervent défenseur de la cause, citoyen désabusé ou je-m-en-foutiste de la première heure, ta voix a son importance.  </p>


                                           <div class="pb-4 mb-4" style="text-align: center; border-radius:8px;">
                                             <img src="/static/images_site/voteyesno.webp" class="card-img earthsize FormDesign0" style="height:250px; object-fit:cover; background-position:center bottom;">
                                           </div>

                                           <p class="pb-3 text-align-left" style="font-size:0.9rem;"> Promis, ce ne sera ni trop long ni trop pénible et il y a même des blagues ! C'est parti ?   </p>




                                    		    <br>

                                    		  <!-- Button -->
                                          <div style="display:flex;">

                                      		 <div class="alignbutton mb-5 mx-auto" style="background-color:#C8DDA3;text-align:center; height:40px; width:320px;">
                                      			   <a href="https://www.surveylegend.com/s/3rrg" target="_blank" style="text-decoration:none;color:black;font-family: 'Basic Sans Regular', monospace;font-size:0.9rem;line-height:2.5;font-weight: 400;letter-spacing: 0.5px">Démarrez !</a>
                                           </div>
                                          </div>

                                  </div>


                                  <!--  right part -->
                                  <div class="col-md-6 offset-md-1 pb-5 mb-5" style="text-align:center;">
                                    <h2 class="pb-4 mt-xl-3 typoTitre commontitle" style="font-size:1.2rem; font-weight:600;color:rgb(95,129,82);"> Envie de me contacter ?  </h2>


                                    <p class="mb-4 text-align-left" style="font-size:0.9rem;"> Que ce soit pour proposer une idée, une envie, une remarque, une vérité, une info ou simplement me poser une question... Ton avis m'intéresse !  </p>


                                    <div class="containerForm" style="display:flex;">
                                      <div id="contactForm2" class="FormDesign mx-auto" style="text-align:left;">
                                        <form class="" method="post">
                                          {{form.hidden_tag()}}
                                          {{form.name.label(class="pl-3 pt-3")}}
                                          {{form.name(class="inputunderline pb-3 ml-3", style="width:320px; padding-bottom:0.1rem !important;", placeholder="Ella Transité", required="required")}}


                                          {{form.hidden_tag()}}
                                          {{form.adresseMail.label( class="pl-3 pt-3")}}
                                          {{form.adresseMail(class="inputunderline pb-2 ml-3", style="width:320px; padding-bottom:0.1rem !important;", placeholder="ella.transite@mangersain.be")}}

                                          {{form.hidden_tag()}}
                                          {{form.codePost.label(class="pl-3 pt-3")}}
                                          {{form.codePost(class="inputunderline pb-2 ml-3", style="width:320px; padding-bottom:0.1rem !important;",placeholder="1160")}}

                                          {{form.hidden_tag()}}
                                          {{form.textMess.label(class="pl-3 pt-3")}}
                                          {{form.textMess(class="inputunderline pb-4 ml-3", style="width:320px; height:90px;", placeholder="Ecris-moi ton message ici")}}

                                          {{form.submit(class="contact100-form-btn mt-3 mb-3 ml-3")}}

                                        </form>
                                      </div>
                                  </div>


                                </div>

                                </div>



                              </div>
                              </div> <!-- end section 5 -->








                              <!-- footer -->

                              <div class="section s6 fp-auto-height">

                                <div class="container-xl" style="padding-right:30px; padding-left:30px;">

                                    <div class="row gx-4 gx-lg-5 justify-content-start">
                                      <div class="col">
                                        <h2 class="pb-4 mt-xl-5 text-center text-md-left typoTitre commontitle slidetitle" > <span>AVEC LE SOUTIEN DE ...  </span>  </h2>


                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-6 col-md-3">
                                        <a  href="https://www.bwbx.eatslocal.be">  <img src="/static/partenaires/Eats_Local.webp" class="card-img earthsize2 logopartenaire" alt="Eat's Local"></a>
                                      </div>
                                      <div class="col-6 col-md-3">
                                        <a  href="https://laruchequiditoui.be/fr">  <img src="/static/partenaires/La_Ruche_Qui_Dit_Oui.webp" class="card-img earthsize2 logopartenaire" alt="La Ruche Qui Dit Oui"></a>
                                      </div>
                                      <div class="col-6 col-md-3">
                                        <a  href="https://www.lepedalo.be/en/elementor-2025/">  <img src="/static/partenaires/Le_Pedalo.webp" class="card-img earthsize2 logopartenaire" alt="Le Pédalo Supermarché Coopératif"></a>
                                      </div>
                                      <div class="col-6 col-md-3">
                                        <a  href="https://envertetcontretout.ch">  <img src="/static/partenaires/Fevrier_Sans_Supermarche.webp" class="card-img earthsize2 logopartenaire" alt="En Vert et Contre Tout - Février Sans Supermarché"></a>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-6 col-md-3">
                                        <a  href="http://aucomptoirdemargaux.com">  <img src="/static/partenaires/Au_Comptoir_De_Margaux.webp" class="card-img earthsize2 logopartenaire" alt="Au Comptoir de Margaux" ></a>
                                      </div>
                                      <div class="col-6 col-md-3">
                                        <a  href="https://thebarn.bio/">  <img src="/static/partenaires/The_Barn.webp" class="card-img earthsize2 logopartenaire" alt="The Barn"></a>
                                      </div>
                                      <div class="col-6 col-md-3">
                                        <a  href="https://lemarchebio.be">  <img src="/static/partenaires/Terrabio_Les_Tanneurs_Be_Here.webp" class="card-img earthsize2 logopartenaire" alt="Le Marché Bio - Les Tanneurs - Be Here"></a>
                                      </div>
                                      <div class="col-6 col-md-3">
                                        <a  href="https://www.la-finca.be/">  <img src="/static/partenaires/La_Finca.webp" class="card-img earthsize2 logopartenaire" alt="Coopérative La Finca"></a>
                                      </div>
                                    </div>

                                    <div class="row pb-4">
                                      <div class="col-6 col-md-3">
                                        <a  href="https://omonbopo.be">  <img src="/static/partenaires/Omonbopo.webp" class="card-img earthsize2 logopartenaire" alt="Omonbopo" ></a>
                                      </div>
                                      <div class="col-6 col-md-3">
                                        <a  href="https://tartine-et-boterham.be/">  <img src="/static/partenaires/tartine_et_boterham.webp" class="card-img earthsize2 logopartenaire" alt="Tartine & Boterham"></a>
                                      </div>
                                    </div>


                                </div> <!-- end container xl -->


                              		<footer class="bg-light text-center text-lg-start">
                              		<!-- Copyright -->
                              		<div class="text-center p-3 footerText" style="background-color: rgba(0, 0, 0, 0.6);">
                              			<strong>© 2021 Copyright: Francois Dehouck.</strong>
                              		</div>
                              		<!-- Copyright -->
                              		</footer>


                                    </div>


















    </div> <!-- end full page -->



 <!--=== Modal - displayed upon submission of the form ===-->
  <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" >
      <div class="modal-content" style="background-color:lightgray">

            <div class="modal-header">
              <h2 class="modal-title" style="font-size:1.6rem"> Message envoyé ! </h2>
              <button type='button' class="close" aria-label="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body p-2" id="flashes">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
              {% endwith %}
            </div>

      </div>
    </div>
  </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js" integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='/static/custom.js'></script>

	<script type="text/javascript">

     new fullpage('#fullpage', {

   		responsiveHeight: 815,
   		responsiveWidth: 992,
      anchors:['Accueil', 'Intro', 'MonParcours', 'LeProjet', 'Contact', 'Partenaires'],
      sectionsColor: ['#f2f2f2', '#eef2ed', '#ffffff', 'whitesmoke', '#eef2ed'],
		});


    <!-- pinch zooming on iphone -->


    $(document).ready(function() {

        var scale = 1; // initial-scale
        var r = 0.10;

        $(document).bind('gesturechange',function(event){

            if(event.originalEvent.scale > 1) scale = scale < 1.2 ?  scale : 1.2 ;
            else  scale : 1 ;

            $('meta[name=viewport]').attr('content', 'width=device-width, minimum-scale='+ scale.toFixed(2) +', maximum-scale='+ scale.toFixed(2) +', user-scalable=yes'); //

        });

    });



    </script>

  </body>
</html>
